// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2020 NXP
 */

 /dts-v1/;

 #include "imx8mm-egf-3pb1002.dts"
 
 / {
    model = "EGF 3HI3001";

    reg_ts_enable: regulator-ts-ena  {
        compatible = "regulator-fixed";
        regulator-name = "regulator-ts-ena";	
        gpio = <&gpio5 5 GPIO_ACTIVE_HIGH>;
        enable-active-high;
        regulator-always-on;
    };
 };

 &mipi_dsi {
	status = "okay";
	panel@0 {
		compatible = "egf,blc1256";
        reg = <0>;
       	dsi-lanes = <4>;
        pinctrl-names = "default";
		reset-gpio = <&gpio3 23 GPIO_ACTIVE_HIGH>;
		vdd-supply =  <&reg_dsi_enable>;
        vccio-supply =  <&reg_dsi_enable>;
		backlight = <&dsi0_backlight>;		
		status = "okay";
	};

};
&i2c4 {
    jd9365tl@68 {
        compatible = "jadard,jdcommon","jadard,jd9365tl";
        pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ts>;
        reg = <0x68>;
        status = "okay";
        interrupt-parent = <&gpio5>;
        interrupts = <4 IRQ_TYPE_EDGE_FALLING>;
		jadard,irq-gpio = <&gpio5 4 GPIO_ACTIVE_LOW>;
		jadard,rst-gpio = <&gpio3 25 GPIO_ACTIVE_LOW>;
		//jadard,panel-max-points = <4>;								/* Number of simultaneous tracks (for multitouch) [10 if not specified] */
		jadard,int-is-edge = <1>;
		//jadard,stylus = <1>;
		jadard,panel-sense-nums = <600 1024>;
		jadard,panel-coords = <0 600 0 1024>;
        VDDIO-supply = <&reg_ts_enable>;
    };
};

&iomuxc {
	pinctrl_ts: tsgrp {
		fsl,pins = <
            MX8MM_IOMUXC_SAI5_MCLK_GPIO3_IO25          0x00000156       /* TS NRESET */
            MX8MM_IOMUXC_SPDIF_RX_GPIO5_IO4            0x00000116       /* TS INT    */
            MX8MM_IOMUXC_SPDIF_EXT_CLK_GPIO5_IO5       0x00000116       /* TS V EN   */
		>;
	};
};
