// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2020 NXP
 */

 /dts-v1/;

 #include "imx8mm-egf-3pb1002.dts"
 
 / {
    model = "EGF 3HI3005";

    reg_ts_enable: regulator-ts-ena  {
        compatible = "regulator-fixed";
        regulator-name = "regulator-ts-ena";	
        gpio = <&gpio5 5 GPIO_ACTIVE_HIGH>;
        enable-active-high;
        regulator-always-on;
    };
 };

 &mipi_dsi {
	status = "okay";
	panel@0 {
		compatible = "egf,adapter_0834";
        reg = <0>;
       	dsi-lanes = <4>;
        pinctrl-names = "default";
		ddc-i2c-bus = <&i2c3>;		
		enable-gpio = <&gpio3 23 GPIO_ACTIVE_HIGH>;
		power-supply =  <&reg_dsi_enable>;
		backlight = <&dsi0_backlight>;		
		status = "okay";
	};

};
&i2c4 {
    gt9110@14 {
        
        compatible = "goodix,gt9xx";
        pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ts>;
        
        reg = <0x14>;
        status = "okay";
        interrupt-parent = <&gpio5>;
        interrupts = <4 IRQ_TYPE_EDGE_FALLING>;
        irq-gpios = <&gpio5 4 GPIO_ACTIVE_HIGH>;
        edge-failling-trigger;
        reset-gpios = <&gpio3 25 GPIO_ACTIVE_HIGH>;
        touchscreen-size-x = <1024>;
        touchscreen-size-y = <600>;


        touchscreen-max-id = <11>;
        touchscreen-max-w = <512>;
        touchscreen-max-p = <512>;
        
        goodix,slide-wakeup = <0>;
        goodix,type-a-report = <0>;
        goodix,driver-send-cfg = <0>;
        goodix,resume-in-workqueue = <0>;
        goodix,int-sync = <1>;
        goodix,swap-x2y = <0>;
        goodix,esd-protect = <1>;
        goodix,auto-update-cfg = <1>;
        goodix,auto-update = <1>;
        goodix,power-off-sleep = <0>;
        goodix,pen-suppress-finger = <0>;
        goodix,cfg-group0 = [];

        VDDIO-supply = <&reg_ts_enable>;
    };
};

&iomuxc {
	pinctrl_ts: tsgrp {
		fsl,pins = <
            MX8MM_IOMUXC_SAI5_MCLK_GPIO3_IO25          0x00000116       /* TS NRESET */
            MX8MM_IOMUXC_SPDIF_RX_GPIO5_IO4            0x00000116       /* TS INT    */
            MX8MM_IOMUXC_SPDIF_EXT_CLK_GPIO5_IO5       0x00000116       /* TS V EN   */
		>;
	};
};
