/dts-v1/;

 #include "imx93-egf-3sm1010.dtsi"
 / {
	model = "EGF iMX93 3PB1001 panel";
	compatible = "fsl,imx93";
 };

&lpi2c8 {
	status = "okay";
};

&lpi2c2 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpi2c2>;
	status = "okay";

    // RTC carrier
    rtc_pcf85263a: rtc@51 {
        compatible = "nxp,pcf85263";
        reg = <0x51>;
    };

    // EEPROM carrier
    24c32@54 {
        compatible = "atmel,24c32";
        pinctrl-names = "default";
        reg = <0x54>;
        pagesize = <32>;
    };
    
    // IO EXPANDER U46
    gpio_exp_3v3_x8: gpio@21 {
        compatible = "ti,tca6408";
        reg = <0x21>;
        gpio-controller;
        #gpio-cells = <2>;
    };
    
    // nau8822_1a: nau8822@1a {
    //     compatible = "nuvoton,nau8822";
    //     reg = <0x1a>;
    //     #sound-dai-cells = <0>;
    //     clocks = <&audio_blk_ctrl IMX8MP_CLK_AUDIOMIX_SAI3_MCLK1>;
    //     clock-names = "mclk";
    // };
    
    // temp sensor
    tmp102@48 {
        reg = <0x48>;
        compatible = "ti,tmp102";
    };
};

&lpi2c4 {
	status = "okay";

    gpio_exp_1v8: gpio@21 {
		compatible = "ti,tca6416";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;
	};

    gpio_exp_3v3_x16: gpio@20 {
		compatible = "nxp,pcal6416";
		#address-cells = <1>;
		#size-cells = <0>;
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x20>;
		status = "okay";
	};

};


