// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2022 NXP
 * Copyright 2025 Elettronica GF s.r.l
 */

/dts-v1/;

#include "imx93-egf-3pb1001.dts"

/ {
	model = "EGF 3HI5005 panel";
	compatible = "fsl,imx93";
 
 	reg_dsi_supply: regulator-3v3-dsi{
		compatible = "regulator-fixed";
		regulator-name = "DSI-3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};
	
	reg_ctp_supply: regulator-3v3-ctp {
		compatible = "regulator-fixed";
		regulator-name = "VCC_3V3_CTP";
		gpio = <&gpio_exp_3v3_x8 3 GPIO_ACTIVE_HIGH>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		regulator-always-on;
	};
	

	dsi0_backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&tpm5 0 100000 0>;
		brightness-levels = < 0  1  2  3  4  5  6  7  8  9
				     10 11 12 13 14 15 16 17 18 19
				     20 21 22 23 24 25 26 27 28 29
				     30 31 32 33 34 35 36 37 38 39
				     40 41 42 43 44 45 46 47 48 49
				     50 51 52 53 54 55 56 57 58 59
				     60 61 62 63 64 65 66 67 68 69
				     70 71 72 73 74 75 76 77 78 79
				     80 81 82 83 84 85 86 87 88 89
				     90 91 92 93 94 95 96 97 98 99
				    100>;
		default-brightness-level = <80>;
		enable-gpios = <&gpio_exp_3v3_x16 9 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
 };
 
 &tpm5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_tpm5_ch1>;
	status = "okay";
};

&dsi {
	#address-cells = <1>;
	#size-cells = <0>;
    status = "okay";
	panel@0 {
		compatible = "egf,adapter_0834";
        reg = <0>;
       	dsi-lanes = <4>;
        pinctrl-names = "default";
		ddc-i2c-bus = <&lpi2c8>;	
		backlight = <&dsi0_backlight>;	
		enable-gpio = <&gpio_exp_3v3_x16 8 GPIO_ACTIVE_HIGH>;
		power-supply =  <&reg_dsi_supply>;
		status = "okay";

		port {
			panel_in: endpoint {
				remote-endpoint = <&dsi_out>;
			};
		};
	};

	ports {
		port@1 {
			reg = <1>;

			dsi_out: endpoint {
				remote-endpoint = <&panel_in>;
			};
		};
	};
};


&lcdif {
	assigned-clock-rates = <300000000>, <30000000>, <400000000>, <133333333>;
	status = "okay";
};

&epxp {
	status = "okay";
};

&media_blk_ctrl {
	status = "okay";
};

&dphy {
	status = "okay";
};

&lpi2c8 {
	gt9110@14 {
		compatible = "goodix,gt9110";
        reg = <0x14>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ts>;
		VDDIO-supply = <&reg_ctp_supply>;
		edge-failling-trigger;
        interrupt-parent = <&gpio1>;
        interrupts = <10 IRQ_TYPE_EDGE_FALLING>;
        irq-gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio_exp_3v3_x8 4 GPIO_ACTIVE_HIGH>;
        status = "okay";
      };	
};




&iomuxc {
	pinctrl-names = "default";

	pinctrl_ts: tsgrp {
		fsl,pins = <MX93_PAD_PDM_BIT_STREAM1__GPIO1_IO10          0x00000116>;      /* TS nINT */		
	};

    pinctrl_tpm5_ch1: tpm5ch1grp {
        fsl,pins = <MX93_PAD_GPIO_IO22__TPM5_CH1                  0x0000031e>;      /* PWM BL */
    };
};
